<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <div>
        <h1>Minhas Tarefas</h1>
        <h2>Adicionar Nova Tarefa</h2>
        <form th:action="@{/adicionar}" th:object="${novaTarefa}" method="post">
            <input type="text" th:field="*{titulo}" placeholder="Título da tarefa" required/>
            <input type="text" th:field="*{descricao}" placeholder="Descrição da tarefa"/>
            <button type="submit">Adicionar</button>
        </form>
        <hr/>
        <h2>Tarefas Cadastradas</h2>
        <table>

        </table>
    </div> 
</body>
</html>