<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Lista de Tarefas</title>
</head>
<body>
    <div class="container">
        <h1>Minhas Tarefas</h1>
        <h2>Adicionar Nova Tarefa</h2>
        <form th:action="@{/adicionar}" th:object="${novaTarefa}" method="post">
            <input type="text" th:field="*{titulo}" placeholder="Título da tarefa" required/>
            <input type="text" th:field="*{descricao}" placeholder="Descrição da tarefa"/>
            <button type="submit">Adicionar</button>
        </form>
        <hr/>
        <h2>Tarefas Cadastradas</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Data Criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${paginaTarefas.empty}">
                    <td colspan="4" sytle="text-align: center">Nenhuma tarefa cadastrada!</td>
                </tr>
                <tr th:each="tarefa : ${paginaTarefas.content}">
                    <td th:text="${tarefa.titulo}">Título da Tarefa</td>
                    <td th:text="${tarefa.descricao}">Descrição da Tarefa</td>
                    <td th:text="${tarefa.concluida} ? 'Concluida' : 'Pendente'">Pendente</td>
                    <td th:text="${tarefa.dataCriacao}">Data de Criação</td>
                    <td class="actions">
                        <a th:href="@{/excluir/{id}(id=${tarefa.id})}" class="btn-delete">Excluir</a>  
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
        <div th:if="${paginaTarefas.totalPages > 1}">
          <a
            th:if="${!paginaTarefas.first}"
            th:href="@{/(page=${paginaTarefas.number - 1})}"
            class="btn"
            >Anterior</a
          >
          <span
            th:each="i : ${#numbers.sequence(0, paginaTarefas.totalPages - 1)}"
          >
            <a
              th:href="@{/(page=${i})}"
              th:text="${i + 1}"
              th:classappend="${i == paginaTarefas.number} ? 'active' : ''"
              style="margin: 0 5px"
            ></a>
          </span>

          <a
            th:if="${!paginaTarefas.last}"
            th:href="@{/(page=${paginaTarefas.number + 1})}"
            class="btn"
            >Próxima</a
          >
        </div>
      </div>
    </div> 
</body>
</html>
